<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Journ.ie Home Page</title>

    <!--Scripts-->
    <script src="scripts/loadLanguage.js"></script>
    <script type="module" defer src="init.js"></script>

    <!--Stylesheets-->
    <link rel="stylesheet" href="stylesheets/main.css">

    
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-app-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-auth-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-database-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-firestore-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-functions-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-messaging-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-storage-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-analytics-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-remote-config-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-performance-compat.js"></script>

    <!--Stylesheets-->
    <link rel="stylesheets" href="stylesheets/main.css">
</head>
<body onload="loadLanguage('en')">

    <button onclick="loadLanguage('en')" data-key="language-en">English</button>
    <button onclick="loadLanguage('fr')" data-key="language-fr">French</button>
    <h1 data-key="sample-text">Testing 02 Different Languages</h1>


        
    
    <section class="hero">
        <h1>Journ.ie</h1>
        <p>'Solas Anama'</p>
    </section>
    
    <section class="cards">
        <div class="card">
            <h3>Journaling Tools</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="card">
            <h3>Mood Tracking</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="card">
            <h3>Progress Tracker</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </section>
    
    <section class="mission">
        <h2>Our Mission</h2>
        <p>At Journ.ie, our mission is to provide a secure and intimate journaling platform where individuals can document, organise, and cherish their life’s moments. We believe in the power of personal reflection and its profound impact on well-being and growth. By offering a safe space free from public exposure, we enable users to express themselves freely and authentically.</p>
        <p>At Journ.ie, we are more than just a journaling platform; we are a community committed to personal growth and self-discovery. Join us to connect deeply with your inner self and pursue your life goals with confidence and clarity.</p>
    </section>

 

</body>
</html>
