<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Journ.ie Home Page</title>

    <!--Scripts-->
    <script src="scripts/loadLanguage.js"></script>
    <script src="scripts/sign-in_register.js"></script>
    <script type="module" defer src="init.js"></script>

    <!--Stylesheets-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="stylesheets/web-main.css">
    <link rel="stylesheet" href="stylesheets/mobile-main.css">
    <link rel="stylesheet" href="stylesheets/sign-in.css">
    
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-app-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-auth-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-database-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-firestore-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-functions-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-messaging-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-storage-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-analytics-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-remote-config-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-performance-compat.js"></script>
</head>

<body onload="loadLanguage('en')">
    <header>
        <div class="nav-bar">
            <img src="assets/imgs/logo.png" alt="Journ.ie Logo" class="logo">

            <div class="nav-items">
                <div class="nav-items-section">
                    <nav>
                        <ul class="nav-links">
                            <li><a href="/" data-key="nav-home">Home</a></li>
                            <li><a href="/#mission" data-key="nav-mission">Our Mission</a></li>
                            <li><a href="/#about-us" data-key="nav-about">About Us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="dropdown">
                    <button class="dropbtn"><i class="fa-solid fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <div class="languages">
                            <h4 class="menu-title" data-key="language-option">Language Preferences</h4>
                            <a href="#" onclick="loadLanguage('en')" data-key="language-en">English</a>
                            <a href="#" onclick="loadLanguage('fr')" data-key="language-fr">French</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="hero">
        <div class="title">
            <h1 data-key="project-title">Journ.ie</h1>
            <p data-key="project-moto">'Solas Anama'</p>
        </div>

        <div class="form-items">
            <div id="sign-in-form" class="form">
                <h2 data-key="sign-in">Sign In</h2>
                <form>
                    <label for="username" data-key="username">Username</label>
                    <input type="text" class="username" name="username" data-key="enter-username">
        
                    <label for="password" data-key="password">Password</label>
                    <input type="password" class="password" name="password" data-key="enter-password">
        
                    <a href="#" class="forgot-password" data-key="forgot-password">Forgot password?</a>
        
                    <div class="buttons-form">
                        <button type="submit" class="sign-in" data-key="sign-in">Sign In</button>
                        <div class="or-divider" data-key="or-divider">Or</div>
                        <button type="button" class="create-account" data-key="create-account" id="create-account-btn">Create an Account</button>
                    </div>
                </form>
            </div>
        
            <div id="register-form" class="form" style="display:none;">
                <h2 data-key="create-account">Create Account</h2>
                <form>
                    <label for="username" data-key="username">Username</label>
                    <input type="text" class="username" name="username" data-key="enter-username">
        
                    <label for="first-name" data-key="first-name">First Name</label>
                    <input type="text" id="first-name" name="first-name" data-key="enter-first-name">
        
                    <label for="last-name" data-key="last-name">Last Name</label>
                    <input type="text" id="last-name" name="last-name" data-key="enter-last-name">
        
                    <label for="dob" data-key="dob">Date of Birth</label>
                    <input type="date" id="dob" name="dob" data-key="enter-dob">
        
                    <label for="email" data-key="email">Email</label>
                    <input type="email" id="email" name="email" data-key="enter-email">
        
                    <label for="password" data-key="password">Password</label>
                    <input type="password" class="password" name="password" data-key="enter-password">
        
                    <label for="re-enter-password" data-key="re-enter-password">Re-Enter Password</label>
                    <input type="password" id="re-enter-password" name="re-enter-password" data-key="enter-password">
        
                    <div class="buttons-form">
                        <button type="submit" class="create-account" data-key="create-account">Create Account</button>
                        <div class="or-divider" data-key="or-divider">Or</div>
                        <button type="button" class="already-have-account" data-key="already-have-account" id="already-have-account-btn">Already have an account?</button>    
                    </div>
                </form>
            </div>
        </div>
        
    </section>

    <footer>
        <div class="footer-items">
            <div class="footer-links">
                <div class="column">
                    <h3 data-key="nav-home">Home</h3>
                    <ul>
                        <li><a href="/#features" data-key="features">Features</a></li>
                        <li><a href="/#mission" data-key="nav-mission">Our Mission</a></li>
                        <li><a href="/#about-us" data-key="nav-about">About Us</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3 data-key="journal">Journal</h3>
                    <ul>
                        <li><a href="journal.html" data-key="journal-book">Journal Book</a></li>
                        <li><a href="setting.html" data-key="profile">Profile</a></li>
                        <li><a href="setting.html" data-key="account">Account</a></li>
                        <li><a href="sign-in.html" data-key="login-register">Login/Register</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3 data-key="user-guide">User Guide</h3>
                    <ul>
                        <li><a href="help.html#journal-about" data-key="journal">Journal</a></li>
                        <li><a href="help.html#user-dashboard-about" data-key="user-dashboard">User Dashboard</a></li>
                        <li><a href="help.html#entries-about" data-key="entries">Entries</a></li>
                        <li><a href="help.html#mood-tracker-about" data-key="mood-tracker">Mood Tracker</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3 data-key="help">Help</h3>
                    <ul>
                        <li><a href="help.html#contact-us" data-key="contact-us">Contact Us</a></li>
                        <li><a href="help.html#terms-conditions" data-key="terms-conditions">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom">
                <img src="assets/imgs/logo.png" alt="Journ.ie Logo" class="logo-footer">
                <p data-key="signature">© Zedev 2024</p>
            </div>
        </div>
    
        
    </footer>

</body>
</html>
