<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Journ.ie Home Page</title>

    <!--Scripts-->
    <script src="scripts/loadLanguage.js"></script>
    <script type="module" defer src="init.js"></script>

    <!--Stylesheets-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="stylesheets/web-main.css">
    <link rel="stylesheet" href="stylesheets/mobile-main.css">
    
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-app-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-auth-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-database-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-firestore-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-functions-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-messaging-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-storage-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-analytics-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-remote-config-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.4/firebase-performance-compat.js"></script>
</head>

<body onload="loadLanguage('en')">
    <!-- Sample
    <button onclick="loadLanguage('en')" data-key="language-en">English</button>
    <button onclick="loadLanguage('fr')" data-key="language-fr">French</button>
    <h1 data-key="sample-text">Testing Different Languages</h1>
     -->

    <header>
        <div class="nav-bar">
            <img src="assets/imgs/logo.png" alt="Journ.ie Logo" class="logo">

            <div class="nav-items">
                <div class="nav-items-section">
                    <nav>
                        <ul class="nav-links">
                            <li><a href="/" data-key="nav-home">Home</a></li>
                            <li><a href="/#mission" data-key="nav-mission">Our Mission</a></li>
                            <li><a href="/#about-us" data-key="nav-about">About Us</a></li>
                        </ul>
                    </nav>
                    <a href="sign-in.html" class="login-button-link" data-key="sign-in">Sign In</a>
                </div>
                <img id="profile-picture" src="assets/imgs/profile-picture-placeholder.jpg" alt="" data-key="profile-picture" class="profile-picture">
                    <div class="dropdown">
                        <button class="dropbtn"><i class="fa-solid fa-caret-down"></i></button>

                        <div class="dropdown-content">
                            <div class="languages">
                                <h4 class="menu-title" data-key="language-option">Language Preferences</h4>
                                <a href="#" onclick="loadLanguage('en')" data-key="language-en">English</a>
                                <a href="#" onclick="loadLanguage('fr')" data-key="language-fr">French</a>
                            </div>

                            <div class="profile-menu">
                                <a href="setting.html" data-key="settings">Settings</a>
                                <a href="sign-in.html" data-key="log-out">Log Out</a>
                        
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </header>

    <section id="" class="hero">
        
    </section>

    <footer>
        <div class="footer-items">
            <div class="footer-links">
                <div class="column">
                    <h3 data-key="nav-home">Home</h3>
                    <ul>
                        <li><a href="/#features" data-key="features">Features</a></li>
                        <li><a href="/#mission" data-key="nav-mission">Our Mission</a></li>
                        <li><a href="/#about-us" data-key="nav-about">About Us</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3 data-key="journal">Journal</h3>
                    <ul>
                        <li><a href="journal.html" data-key="journal-book">Journal Book</a></li>
                        <li><a href="setting.html" data-key="profile">Profile</a></li>
                        <li><a href="setting.html" data-key="account">Account</a></li>
                        <li><a href="sign-in.html" data-key="login-register">Login/Register</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3 data-key="user-guide">User Guide</h3>
                    <ul>
                        <li><a href="help.html#journal-about" data-key="journal">Journal</a></li>
                        <li><a href="help.html#user-dashboard-about" data-key="user-dashboard">User Dashboard</a></li>
                        <li><a href="help.html#entries-about" data-key="entries">Entries</a></li>
                        <li><a href="help.html#mood-tracker-about" data-key="mood-tracker">Mood Tracker</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3 data-key="help">Help</h3>
                    <ul>
                        <li><a href="help.html#contact-us" data-key="contact-us">Contact Us</a></li>
                        <li><a href="help.html#terms-conditions" data-key="terms-conditions">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom">
                <img src="assets/imgs/logo.png" alt="Journ.ie Logo" class="logo-footer">
                <p data-key="signature">© Zedev 2024</p>
            </div>
        </div>
    
        
    </footer>

</body>
</html>
