#log {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 40px; 
}

.profile-picture {
    opacity: 1;
}

.profile-menu {
    opacity: 1;
}

.form {
    background-color: #38353F;
    padding: 15px 25px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px; 
    min-width: 400px;
}

.form h2 {
    margin: 20px 0;
    text-align: center;
}

.form h3 {
    margin: 0 0 20px 0;
    font-size: 20px;
    text-align: left;
    transform: translateX(-30px);
}   

#return-submit {
    border-radius: 5px; 
}

#return-submit {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.return a {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: #fff;
    font-size: 16px;
}

.return a:hover {
    color: #FFFFCC;
}

.return i {
    align-items: center;
    padding: 0 10px 0 0;
}

.submit .submit, .upload-label {
    background-color: #A0B49E; 
    color: #fff;
    border: none;
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer; 
}

.submit .submit:hover, .upload-label:hover {
    background-color: #8a9e89; 
}

.form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #4a4752;
    color: #fff;
}

#label-options {
    margin: 5px 0;
}

#label-options label {
    border-radius: 30px;
    padding: 3px 8px 3px 5px;
    margin: 0 5px;
    background-color: white;
}

#label-options .activity {
    background-color: #a8d6f4;
}

#label-options .reflection {
    background-color: #b4f4b8;
}

#label-options .goal {
    background-color: #adf3f7;
}

#label-options .diary {
    background-color: #dcb3f8;
}

#label-options .journey {
    background-color: #f6a8f9;
}

.medias {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-upload {
    margin: 10px 0;
    padding: 0;
    align-items: center;
}

#add-media {
    margin: 0;
    padding: 10px 20px;
    background-color: #8a9e89;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 100px;
    max-height: 120px;
}

#add-media:hover {
    background-color: #819780;
}

.fa-camera{
    font-size: 26px;
    color: #fff;
}

input[type="file"] {
    display: none;
}

.media-preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    margin-top: 10px;
}

.media-preview img,
.media-preview video {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.caption-content #messageBox {
    width: 100%;
    border-radius: 5px;
    background-color: #4a4752;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    resize: none;
}

#messageBox:focus, .form input[type="text"] {
    border: none; 
    outline: none; 
    box-shadow: none; 
}