.hero {
    background-image: url(../assets/imgs/access-placeholder.webp);
    padding: 80px;
}

.title h1, .title p {
    color: #333;
    margin: 0;
}

.title {
    padding: 0 0 30px 0;
}

.form-items {
    display: flex;
    justify-content: center;
    direction: column;
    align-items: center;
}

.form {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    min-width: 400px;
}
.form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form label {
    display: flex;
    align-items: center;
}
.form label input {
    margin-right: 10px;
}
.form .forgot-password {
    text-align: right;
    display: block;
    margin: 10px 0;
    font-size: 0.9em;
}

.form button {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.buttons-form {
    padding: 20px 0;
}

.form .sign-in, .form .already-have-account {
    background-color: #333;
    color: #fff;
}
.form .create-account {
    background-color: #d9e3d7;
    color: #000;
}
.form .or-divider {
    text-align: center;
    margin: 20px 0;
    position: relative;
}
.form .or-divider::before,
.form .or-divider::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #ccc;
}
.form .or-divider::before {
    left: 0;
}
.form .or-divider::after {
    right: 0;
}

